/*
Custom stylesheets malayerba

1. Global
2. Homepage
3. About_us
*/


.malayerba_title_seccion{
	text-align: center;
	padding-bottom: 70px;
}

.font_oswald{
	font-family: 'Oswald', sans-serif;
    font-size: 48px;
}
