/*------------------------- About_us ------------------*/

.page-template-template-about-us{
	background-color:#e1e1e1;
}
.aboutus_content{
	position: relative;
	margin: 0 auto;
	text-align: center;
}
.aboutus_img{
	position: relative;
	padding-bottom: 70px;
}

.aboutus_text{
	text-align: justify;
	height: 400px;
}

@media (max-width: 480px) {
	.malayerba_img_aboutus{
	    width: 300px !important;
	}
}