/*------------------------- homepage ------------------*/

// .bg_homepage{
// 	width: 100%;
// 	height: 93vh;
//     /* Center and scale the image nicely */
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     -webkit-background-size: cover;
// 	-moz-background-size: cover;
// 	-o-background-size: cover;
// 	background-size: cover;
// 	color: #000000;
// }


.page-template-template-homepage{
	
	height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #000000;
}

.homepage_homepage_height{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-box-flex-direction: row;
	-moz-box-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	height:75vh;
	/*
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	*/
}

#flex-item {
  margin: auto;
  text-align: center;
  width:360px;
  
}

#flex-item h1{
	position: relative;
	font-size: 35px;
}

.homepage_btn{
	text-align: center;
	margin: 30px 0 0 0;
}

.homepage_btn a{
	color: #000000;
    font-size: 20px;
    border: 2px solid #000000;
    padding: 4px 12px;
    letter-spacing: 3px;
    text-decoration: none;
}