//Remover el redondeado de la talla y redefinir tamñaño
.tawcvs-swatches .swatch{
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    width: 50px !important;
    height: 50px !important;
}

.product h1{
    font-size: 23px;
}

.woocommerce div.product p.price, .woocommerce div.product span.price{
    font-size: 16px;
    color: #232122;
}

.single_variation{
    margin-bottom: 20px !important;
}
.woocommerce-variation-price .price{
    border-bottom: 3px solid #b0b0b0;
}

//Ocultar los disponibles:
.woocommerce-variation-availability{
    display: none;
}

.woocommerce div.product form.cart .button{
    background-color: #232122;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    height: 50px;
}

.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover{
    background-color: #656364;
}

.woocommerce .quantity .qty{
    padding: 13px 10px;
    width: 118px;
    padding-right: 0;
}

.malayerba_size_chart_modal{
    color: #232122;
    position: relative;
    text-decoration: none;
}

.malayerba_size_chart_modal:hover{
    color: #000000;
    text-decoration: none;

}
.malayerba_size_chart_modal:focus{
    outline: 0;
    color: #000000;
    text-decoration: none;
}
div.summary.entry-sumary{
    width: 100% !important;
}

.summary p.price{
    font-size: 18px !important;
}
.product_contenido h2{
    font-size: 23px;
}

.variations .label{
    color: #000000;
    font-size: 16px;
}

.woocommerce div.product form.cart .variations{
    width: inherit;
}

.woocommerce #respond input#submit.alt,
 .woocommerce a.button.alt, 
 .woocommerce button.button.alt, 
 .woocommerce input.button.alt{
    background-color:#232122;
    border-radius: 0;
}

.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover{
    background-color:#000000;
}

#coupon_code{
    width: 120px;
}

.product_imagen{
    position: relative;
}

.product_meta .sku_wrapper{
    display: none;
}

.product_meta .posted_in a{
    color: #999999;
}
