/*------------------------- Store / content-product.php / contenido del loop ------------------*/

.store_producto{
    margin-bottom: 20px;
}
.store_info_container{
	color: #232122;
	position: relative;
	text-transform: uppercase;
	padding: 8px 0;
	margin-top: 10px;
}

.woocommerce span.onsale{
	top: 3.6em;
    left: -1.1em;
	-ms-transform: rotate(-45deg); /* IE 9 */
    -ms-transform-origin: 0% 0%; /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: 0% 0%; /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    transform-origin: 0% 0%;
	background-color: transparent;
	border-radius: 0;
    width: 100px;
    height: 0px;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    border-bottom: 30px solid #232122;
}

.product-template-default span.onsale {
	top: 6.0em;
    left: -1.0em;
	-ms-transform: rotate(-45deg); /* IE 9 */
    -ms-transform-origin: 0% 0%; /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: 0% 0%; /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    transform-origin: 0% 0%;
	background-color: transparent;
	border-radius: 0;
    width: 100px;
    height: 0px;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    border-bottom: 30px solid #232122;
}

.store_container_image span.onsale{
    top: 3.5em;
    left: -1em;
}

.product_imagen span.onsale{
    top: 14.9em;
    left: -1em;
}



.store_info_container h2{
	margin: 0;
}

.store_title .woocommerce-loop-product__title{
	font-size: 12px;
}

.store_info{
	font-size: 12px;
	color: #000000;
}

.excerpt p{
   pointer-events: none !important;
   cursor: default !important;
   text-decoration: none !important;
   color: #000000;
   font-size: 13px;
   font-weight: 700;
    margin-bottom: 2px;
} 

.store_precio{
	color: #000000 !important;
	font-size: 13px;
}

.store_precio .price{
	color: #000000 !important;
	font-size: 13px;
}


.mtree{
    padding-left: 0;
}

