.navbar-default {
	background:transparent;
	margin-bottom: 0 !important;
	border: none!important;
}

.navbar {
	max-height: 40px;
	margin-bottom: 0;
	border: none;
}

.navbar-nav{
	padding-bottom: 30px;
}

.navbar-nav>li>a,
.navbar-brand {
	line-height: 20px;
}

.navbar-brand {
	height: 40px;
	display: flex;
}

.navbar-brand>img {
	align-self: center;
}

.navbar-default .navbar-nav>li>a, 
.navbar-default .navbar-text {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.2rem;
	color: #232122;
}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
	color: #000000;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent !important;
	color: #232122;

}

.menu-principal-container{
	position: relative;
    margin: 0 auto;
    width: 484px;
    padding-bottom: 30px;
}

.menu-item-94, .menu-item-17{
	padding-top: 3px;
}

.menu-principal-container a{
	color: #ffffff;
}

.nav_sm{
    position: absolute;
    float: right;
    right: 10px;
    top: 10px;
}

.nav_sm li a{
	color: #232122;
}
.nav_sm li a:hover{
	color: #000000;
}

@media (max-width: 1145px) {
	.nav_sm{
	    right: 10px;
	}
}
@media (max-width: 900px) {
	.nav_sm{
	    right: 10px;
	}
}
@media (max-width: 840px) {
	.malayerba_myaccount{
	    display: none !important;
	}
}

.logo_mobile{
	display: none !important;
}

.logo_mobile img{
	height: 30px;
}

.malayerba_myaccount{
	font-size: 20px;
}

.nav_sm sup{
	color: #555555;
	text-align: center;
	font-size: 12px;
	margin-left: -5px;
}

.nav_sm sup a{
	position: relative;
	color:#777777;
	text-decoration: none;
}

@media (max-width: 767px) {
	.nav_sm{
	    right: inherit;
		top: 10px;
	}
	.logo_mobile{
		display: inline-block !important;
	}
	.malayerba_myaccount{
	    display: inline-block !important;
	}
	.navbar-collapse{
		background-color: #f2f2f2;
	}
}

